{% extends '../../base.html' %}
{% block content %}

    <section id="main">
        <div  class="inner">
            <header class="major special">
                <h1>歷史排程</h1>
            </header>
            
            <h3>{{year}} 年 {{month}} 月</h3>
            <p>請勾選愈刪除的日期：</p>

            <form action="" method="POST"> {% csrf_token %}
              <table><tr>
                {% for document in latest_month_data %}
                   <td> 
                    <input type="checkbox" id="{{document.date|date:"Y-m-d"}}" name="{{document.date|date:"Y-m-d"}}">
                    <label for="{{document.date|date:"Y-m-d"}}"><a href = './{{document.date|date:"Y-m-d"}}/'>{{ document.date }}</a></label>
                    </td>
                   {% if forloop.last %}
                     </tr>
                   {% else %}
                     {% if forloop.counter|divisibleby:"3" %}
                       </tr><tr>
                     {% endif %}
                   {% endif %}
                {% endfor %}
              </table>
                <td><input type="submit" value="確認刪除" class = "button special" name="submit"></td>
            </form>
        </div>
    </section>

{% endblock %}