{% extends '../../base.html' %}
{% block content %}

    <section id="main">
        <div  class="inner">
            <header class="major special">
                <h1>排程結果</h1>
            </header>
            <div  class="inner">
                <h3>日期：{{data.date}}</h3>
                <form method = 'POST'>{%csrf_token%}
                {%for index, fig in fig_info%}
                    <h3>方法 {{index}}：</h3>
                    <table>
                        <tr>
                            <td>{{ fig|safe }}</td>
                            <td  align="center" valign="center"><input type="submit" value="儲存結果" class = "button" name={{index}}></td>
                        </tr>
                    </table>
                {%endfor%}
                </form>

            </div>
        </div>
    </section>

{% endblock %}